{% extends 'layout.html' %}
{% block content %}
    <body>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Topping</th>

            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orderslists %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order[1] }}</td>
                <td>{{ order[2] }}</td>

                <td>
                     <form action="{{ url_for('delete', id=order.id) }}" method="post">
                        <input type="submit" value="DeleteOne">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </body>

{% endblock %}